html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}

header{
    height: 10%;
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

#header-heading {
    align-self: center;
    margin:  1rem;
}

#header-body {
    display: flex;
    justify-content: space-around;
}

#side-bar {
    display: flex;
    flex-direction: column;
}
