html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}

header{
    height: auto;
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

#header-heading {
    align-self: center;
    margin:  1rem;
    border-bottom:  2px solid black;
    border-radius:  5px;
}

#header-body {
    display: flex;
    justify-content: space-around;
    border-bottom:  2px solid black;
    border-radius: 5px;
}

#side-bar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem;
}

#resources {
    display: inherit;
    flex-direction: inherit;
    width: fit-content;
    padding: inherit;
    border-left:  2px solid black;
    border-right:  2px solid black;
    border-radius:  5px;
}

#ship {
    display: inherit;
    flex-direction: inherit;
    padding: inherit;
    width: fit-content;
    border-left:  2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}

#resources > span {
    padding: inherit;
}

#ship > span {
    padding: inherit;
}
