#island {
    min-height: 90%;
}

#island-background {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #0EEAFF;
    height: 90%
}

#island-middleground {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #B5E655;
    height: 50%
}

#island-foreground {
    position: fixed;
    bottom: 0;
    z-index: 3;
    background-color: #00ABD8;
    height: 25%;
}

